<!--templates/base.html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>Python Web Dev Blog</title>
</head>
<body>
    <!--this is my header-->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Python Web Developer Blog</h1>
            </div>
        </div>
    </div>

    <!--my navbar-->
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <!--searchbar here-->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </ul>
    <!--end navbar-->
    {%block content%}

    {%endblock%}
    
</body>
</html>